.views-row:nth-child(3n) .gsb-person-teaser {
	margin-right: 0;
}

.view-id-gsb_person_fpp_view.view-display-id-block_unformatted .views-row:nth-child(3n+1) {
	clear: both;
}

.clubs-filter-exposed .bef-checkboxes .form-item:nth-child(3n+1) {
 clear:both;
}
#main-menu .menu li:nth-child(2) a { padding-right:15px;}

.view-gsb-business-insight .entity-field-collection-item {
 margin-right:-4px;
}

.view-gsb-business-insight .entity-field-collection-item:first-child > div {
	margin-left: -3px;
}