
/* GENERAL LAYOUT ------------------------------------------------------------*/
#site-name  { display: none;}
.navbar-inner { background: none; border: none; -webkit-box-shadow: none; box-shadow: none;  }

#main-menu {}
#main-menu  ul li { width: 122px; height: 77px; background-color: #8a0000; color: #fff; float: left; display: block; margin: 0px; padding: 0px; list-style-image: none; list-style-type: none;}
#main-menu  ul li a {color: #fff;  text-transform: uppercase; border-radius: 0px; margin: 0px 25px 0 0; padding: 6px 0px; border-top: 1px solid transparent;}
#main-menu  ul li a:hover {background: transparent; border-top: 1px solid #827252; text-decoration:none;}
#main-menu  ul li a.active {background: transparent; border-top: 1px solid #827252;}
#main-menu  ul li ul li {display: block;}
#main-menu  ul li ul li a {text-transform: none;}

/* Homepage ------------------------------------------------------------*/
.menu-name-menu-audience-navigation { }
.menu-name-menu-audience-navigation ul { }
.menu-name-menu-audience-navigation ul li { width: 268px; height: 49px; background-color: #990000; color: #fff; margin-bottom: 5px; list-style-type: none; }
.menu-name-menu-audience-navigation ul li a { color: #fff; size: 16px; }

/* All Pages ----------------------------- */

body { margin:0; padding:0;}
p { font-family: NewsGothicBT-Roman, sans-serif; font-size: 18px; }
h1 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 48px; }
h2 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 38px; }
h3 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 28px; }
h4 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 20px; }
h5 { font-family: NewsGothicBT-Bold, sans-serif; font-size: 18px; }
h6 { font-family: NewsGothicBT-Demi, sans-serif; font-size: 18px; }


/* Header --------------------------------*/
#header { background-image: url(../images/revamp-header-bg.png); height: 160px; margin:0; padding:0; }
#header #logo { display: block; margin-top: 45px; }

#site-slogan { font-size: 1.4em}


/* Footer --------------------------------*/

#footer { background-image: url(../images/footer-background.png); }
#footer-content { }
#footer h2 { text-indent: -10000px; display: none;}
#footer #block-menu-menu-footer-menu ul { text-decoration: none; list-style-type: none; list-style-image: none;}
#footer #block-menu-menu-footer-menu ul li { text-decoration: none; list-style-type: none; list-style-image: none;}

#footer #block-menu-menu-footer-menu a { color: #8a0000;}

/* e-News Signup ----------------------------- */





