/* Bootstrap override */


	.no-space [class*="span"] {
    margin: 0px !important;
    padding: 0px !important;
     }
	}


/* All Pages ------------------------------------------------------------- */

body { margin:0; padding:0;}
p { font-family: NewsGothicBT-Roman, sans-serif; font-size: 18px; }
h1 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 48px; }
h2 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 38px; }
h3 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 28px; }
h4 { font-family: NewsGothicBT-Roman, sans-serif; font-size: 20px; }
h5 { font-family: NewsGothicBT-Bold, sans-serif; font-size: 18px; }
h6 { font-family: NewsGothicBT-Demi, sans-serif; font-size: 18px; }
ul { font-family: NewsGothicBT-Roman, sans-serif; }
li { font-family: NewsGothicBT-Roman, sans-serif; }

/* GENERAL LAYOUT ------------------------------------------------------------*/

#site-name  { display: none;}
.navbar-inner { background: none; border: none; -webkit-box-shadow: none; box-shadow: none;  }

/* Main Content  ------------------------------------------------------------*/

#main-content { margin-top: 15px;}
#main-content a { color: #7d8401; border-bottom: 1px dashed #7d8401; }
#main-content a:hover { color: #2d6280; border-bottom: 1px solid #2d6280;}
#main-content h2 { color: #2d6280; font-weight: 100; }
#main-content p.intro { font-size: 30px;}

/* Header --------------------------------*/

#header { background-image: url(../images/revamp-header-bg.png); background-repeat: repeat-x; margin:0; padding:0; }
#header #logo { display: block; margin-top: 45px; }



/* Name and Slogan ------------------------------*/
#name-and-slogan { padding-top: 0px; width: 770px; }
#site-slogan { font-size: 1.4em; margin-top: 5px !important;}

/* Primary Navigation --------------------------------------------------------------------*/
#main-menu { margin-left: 70px !important; margin-right: -75px !important;}
#main-menu  ul li { font-size: 17px; width: 112px; height: 64px; background-color: #8a0000;border-right: 1px solid red; padding-right: 1px; color: #fff; float: left; display: block; margin: 0px; padding-top: 14px; padding-left: 10px;list-style-image: none; list-style-type: none;}
#main-menu  ul li { 
background-image: linear-gradient(bottom, #C50000 50%, #860000 50%);
background-image: -o-linear-gradient(bottom, #C50000 50%, #860000 50%);
background-image: -moz-linear-gradient(bottom, #C50000 21%, #860000 60%);
background-image: -webkit-linear-gradient(bottom, #C50000 50%, #860000 50%);
background-image: -ms-linear-gradient(bottom, #C50000 50%, #860000 50%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.21, #C50000),color-stop(0.6, #860000));
}
#main-menu  ul li a {color: #fff;  border-radius: 0px; margin: 0px 25px 0 0; padding: 0px 0px; border-top: 1px solid transparent; text-shadow: none !important;}
#main-menu  ul li a:hover {background: transparent; text-decoration:none;}
#main-menu  ul li a.active {background: transparent; box-shadow: none !important; } 
#main-menu  ul li ul li {display: block; }
#main-menu  ul li ul li a {text-transform: none; text-shadow: none !important; letter-spacing: 2px;}
#main-menu .navbar-inner { padding-left: 0px !important;}

/* Event Calendar --------------------------------------------------------------------*/
#event-calendar-cta {  background-color: #5b0000;  width: 200px; padding: 15px; padding-top: 10px !important;
padding-bottom: 10px !important;
background-image: linear-gradient(bottom, #8d0000 50%, ##570000  50%);
background-image: -o-linear-gradient(bottom, #8d0000  50%, #570000 50%);
background-image: -moz-linear-gradient(bottom, #8d0000  21%, #570000  60%);
background-image: -webkit-linear-gradient(bottom, #8d0000  50%, #570000  50%);
background-image: -ms-linear-gradient(bottom, #8d0000 50%, #570000  50%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.21, #8d0000),color-stop(0.6, #570000 ));
}
#event-calendar-cta a { color: #fff; font-size: 17px; padding-top: 5px !important; margin-left: 20px; }


/* Search Form --------------------------------------------------------------------*/
#header-content { width: 200px;}
#search-block-form { background-color: #e4e4e4; height: 35px; border: 1px solid #d3d3d3 }
#search-block-form input.btn-search { margin-top: 7px; background-color: transparent; background-image: url(/sites/all/themes/gsb_revamp/images/search-magnifying-glass.png); background-position: left top; text-shadow: none; background-repeat: no-repeat; border: medium none;  box-shadow: none; color: transparent; height: 24px; width:20px; outline: none;}
#search-block-form input.search-query { background-color: transparent; border: none; width: auto !important; float: left !important; padding: 0;  padding-left: 20px; padding-top: 10px;padding-right: 25px; border-radius: 0px !important; -webkit-border-radius: 0px !important; box-shadow: none; -webkit-box-shadow: none !important;}
#search-block-form input:-moz-placeholder, textarea:-moz-placeholder { color: #414141;}
#search-block-form input::-webkit-input-placeholder { color: #414141;} 
#search-block-form input:-placeholder, textarea:-placeholder { color: #414141;} 

 

/* Audience Navigation ------------------------------------------------------------*/

.menu-name-menu-audience-navigation { }
.menu-name-menu-audience-navigation ul { }
.menu-name-menu-audience-navigation ul li { width: 268px; height: 49px; background-color: #990000; color: #fff; margin-bottom: 5px; list-style-type: none; }
.menu-name-menu-audience-navigation ul li a { color: #fff; size: 16px; }

/* Secondary Navigation --------------------------------*/

#block-menu-menu-secondary-navigation { width: 236px;
padding-right: 5px; padding-left: 5px; border-top: 10px solid #231f20;
background-image: linear-gradient(bottom, #FFFFFF 25%, #E7E7E7 63%);
background-image: -o-linear-gradient(bottom, #FFFFFF 25%, #E7E7E7 63%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 25%, #E7E7E7 63%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 25%, #E7E7E7 63%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 25%, #E7E7E7 63%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.25, #FFFFFF),color-stop(0.63, #E7E7E7));}
}

#block-menu-menu-secondary-navigation ul { text-decoration: none; list-style-type: none; margin: 0; margin: 0; font-size: 18px; }
#block-menu-menu-secondary-navigation ul li { text-decoration: none; list-style-type: none; list-style-image: none; margin: 0; margin-top: 25px; padding:0px; font-family: NewsGothicBT-Bold;}
#block-menu-menu-secondary-navigation ul li a { color: #990000; text-decoration: none; border-bottom: none; text-transform: uppercase; }
#block-menu-menu-secondary-navigation ul li a.active { }
#block-menu-menu-secondary-navigation ul li ul {  }
#block-menu-menu-secondary-navigation ul li ul li { margin-top: 19px;}
#block-menu-menu-secondary-navigation ul li ul li a { color: #000; text-transform: none; font-size: 14px; }
#block-menu-menu-secondary-navigation ul li ul li a.active { color: #2d6280; text-transform: none; }
#block-menu-menu-secondary-navigation ul li ul li ul { }
#block-menu-menu-secondary-navigation ul li ul li ul li { margin-top: 19px; }
#block-menu-menu-secondary-navigation ul li ul li ul li a { font-family: NewsGothicBT-Roman; font-weight: 100; line-height: 20px;}
#block-menu-menu-secondary-navigation ul li ul li ul li a.active { }
#block-menu-menu-secondary-navigation a.hover { text-decoration: none; border-bottom: none;}
/* #block-menu-menu-secondary-navigation .active:before { content: "\00BB"; } */



/* Footer --------------------------------*/

#footer { background-image: url(../images/footer-background.png); clear: both; }
#footer-content { }
#footer h2 { text-indent: -10000px; display: none;}
#footer #block-menu-menu-footer-menu ul { text-decoration: none; list-style-type: none; list-style-image: none;}
#footer #block-menu-menu-footer-menu ul li { text-decoration: none; list-style-type: none; list-style-image: none;}
#footer #block-menu-menu-footer-menu a { color: #8a0000;}


/* e-News Signup ----------------------------- */





